
/* Card Specific Styles */
.card {
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform var(--transition);
    height: fit-content;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: var(--padding-medium);
    flex-grow: 1;
}

.card-title {
    font-size: var(--font-size-medium);
    margin-bottom: var(--padding-small);
}

.card-subtitle {
    font-size: var(--font-size-small);
    color: var(--secondary-color);
    margin-bottom: var(--padding-small);
}

.card-description {
    font-size: var(--font-size-small);
    line-height: 1.5;
    margin-bottom: var(--padding-small);
}

.card-action {
    margin: var(--padding-medium);
    align-self: center;
    padding: var(--padding-small);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.card--no-image .card-content {
    padding-top: var(--padding-medium);
}

/* Button Styles */
.button {
    display: inline-block;
    padding: var(--padding-small);
    border: none;
    border-radius: var(--border-radius);
    text-align: center;
    cursor: pointer;
    transition: background-color var(--transition);
}

.button-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.button-primary:hover {
    background-color: darken(var(--primary-color), 10%);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.button-link {
    background: none;
    color: var(--primary-color);
    text-decoration: underline;
}
